<form [formGroup]="cocktailForm" (ngSubmit)="createCocktail()" novalidate>
  <div class="form-group">
    <label>Nom</label>
    <input formControlName="name" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label>Image</label>
    <input formControlName="image" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea formControlName="description" class="form-control" type="text"></textarea>
  </div>
  <hr />
  <button class="btn btn-success" type="button" (click)="addIngredient()">Ajouter ingrédients</button>
  <hr />
  <div formArray="ingredients">
    <div [formGroup]="ingredient" class="form-group row" *ngFor="let ingredient of cocktailForm.get('ingredients').controls">
      <input placeholder="nom" formControlName="name" type="text" class="form-control col-8" />
      <input placeholder="quantité" formControlName="quantity" type="number" class="form-control col-4" />
    </div>
  </div>
  <hr />
  <button [disabled]="cocktailForm.invalid" class="btn btn-primary">Sauvegarder</button>
  <button class="btn btn-primary" [routerLink]="['../']">Annuler</button>
</form>